<li>
  <%= message.body %>
  <%= link_to '[削除]', user_message_path(params[:id], message.id), method: :delete, data: {confirm: '削除しますか？'} if action_name == 'manager' %>
  <p><%= message.created_at %></p>
</li>
