<tr>
  <th scope="row" class="scope-row"><%= staff_counter+1 %></th>
  <td><%= staff.name %></td>
  <td><%= staff.email %></td>
  <td>
    <%= if staff.id != params[:id].to_i
      link_to '削除', user_path(staff.id), method: :delete, data: {confirm: '削除しますか？'}, class: 'btn btn-default btn-sm'
    end %>
  </td>
</tr>
