<h1>マイページ</h1>
<hr>
<ul class="list-group">
  <li class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">名前</h3></div>
    <div class="panel-body"><%= @user.name %></div>
  </li>
  <li class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">メールアドレス</h3></div>
    <div class="panel-body"><%= @user.email %></div>
  </li>
  <li class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">プロフィール画像</h3></div>
    <div class="panel-body">
      <%= image_tag current_user.image.present? ? current_user.image.to_s : 'unknown.png', height: '100px', width: '100px', class: 'img-circle' %>
    </div>
  </li>
</ul>
<%= link_to '編集', edit_user_registration_path, class: 'btn btn-default' %>
