<h1>ユーザートップページ</h1>
<div class="row">
  <div class="col-md-4">所属会社: <span class="belong-com"><%= @company.name %></span></div>
</div>
<hr>
<section class="user-top-page">
  <h3 class="sub-title">メッセージ</h3>
  <ul class="message-lists">
    <% if @messages.present? %>
      <%= render partial: 'message', collection: @messages %>
    <% else %>
      <%= 'メッセージがありません。' %>
    <% end %>
  </ul>
</section>

<script type="text/javascript">
  delete_message();
</script>
