<%# TODO: resultへのpath %>
<%= link_to user_answer_path(params[:user_id], questionnaire.id) do %>
  <li>
    タイトル: <%= questionnaire.title %>
    <%# TODO: 結果用のページに遷移 %>
    <p><%= questionnaire.description %></p>
  </li>
<% end %>
