<%= link_to questionnaire.status == 'sent' ? result_questionnaire_path(questionnaire.id) : questionnaire_path(questionnaire.id) do %>
  <li>
    <%= questionnaire.title %>
    <%# TODO: 結果用のページに遷移 %>
    <%= link_to '[削除]', questionnaire_path(questionnaire.id), method: :delete, data: {confirm: '削除しますか？'} %>
    <p><%= questionnaire.description %></p>
  </li>
<% end %>
