<%= link_to questionnaire_path(questionnaire.id) do %>
  <li>
    <%= questionnaire.title %>
    <%= link_to '[削除]', questionnaire_path(questionnaire.id), method: :delete, data: {confirm: '削除しますか？'} %>
    <p><%= questionnaire.description %></p>
  </li>
<% end %>
