<li>
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= questionnaire.title %>
      <%= link_to '削除', questionnaire_path(questionnaire.id), method: :delete, data: {confirm: '削除しますか？'}, class: 'btn btn-default btn-sm' %>
    </div>
    <div class="panel-body"><%= questionnaire.description %></div>
  </div>
</li>
