// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$gray: #bdbdbd;
$blue: #00b8d4;

.title {
  margin-bottom: 40px;
}

.line {
  margin: 30px 0 50px;
}

.registar-box {
  text-align: right;
  .btn {
    width: 124px;
  }
}

#user_name,
#user_email,
#user_password,
#user_password_confirmation {
  border: none;
  border-bottom: solid 1px $gray;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 30px;

  &::-webkit-input-placeholder {
    color: $gray;
  }

  &:focus {
    &::-webkit-input-placeholder {
      color: #e0e0e0;
    }
  }
}

.actions {
  .btn {
    font-size: 17px;
    width: 100px;
    margin-top: 20px;
  }
}

.new-user-form {
  #user_name,
  #user_email,
  #user_password,
  #user_password_confirmation {
    margin-bottom: 15px;
  }
}

.belong-com {
  color: #607d8b;
  font-size: 20px;
  margin-left: 10px;
}

.sub-title {
  color: $blue;
  margin-bottom: 35px;
}

.message {
  font-size: 17px;
}

.message-date {
  color: #607d8b;
  margin-left: 10px;
}

// 代表ページ

.member-list {
  max-height: 450px;
  overflow-y: scroll;
}

.table {
  .btn {
    display: inline-block;
    margin: 0;
  }

  .scope-row,
  td {
    line-height: 31px !important;
  }
}

.message-wrap {
  height: 500px;
  overflow-y: hidden;

  .btn-primary {
    margin-top: 30px;
    width: 100px;
  }

  .btn-sm {
    margin-top: 0;
    float: right;
  }

  .message-list {
    max-height: 450px;
    overflow-y: scroll;

    ul {
      padding-left: 0;
    }
  }
}

.message-li {
  margin-bottom: 35px;

  .message {
    margin-top: 10px;
  }

  .user-name {
    margin-left: 10px;
    font-size: 17px;
  }
}
